@page "/employees"
@using Agendo.Client.HttpClients
@using Agendo.Shared.DTOs;
@using Agendo.Shared
@using System.Security.Claims;
@using Agendo.Client.Pages.Initials

@inject IApiClient ApiClient
@inject AuthenticationStateProvider AuthStateProvider
<PageTitle>Employees</PageTitle>

<h1>Employees</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div>
        @foreach (var employee in employees)
        {
            <RadzenCard Variant="Variant.Filled" Style="width:max-content" class="mt-3">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
                    <InitialsProfile EmployeeName="@employee.Name" />
                    <RadzenStack Gap="0">
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Employee</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1"><b>@employee?.Name</b></RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">ID</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1"><b>@employee?.Nr</b></RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        }

    </div>


}

@code {
    private IEnumerable<DomainDTO>? employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await ApiClient.GetDomains();

    }
}
