@inject DialogService DialogService
@using Agendo.Client.HttpClients
@using Agendo.Shared.DTOs
@using Agendo.Shared.DTOs;
@using Agendo.Shared.Form.CreateEmployeeShift;
@using Radzen.Blazor;
@using Radzen
@using System.Text.Json;
@using System.Text;
@inject IApiClient ApiClient
@attribute [Authorize(Roles = "719")]

<RadzenTemplateForm TItem="AddEmployeeShiftDTO" Data="@model" Submit=@OnSubmit>

    <div class="row" style="margin-bottom: 16px">

        <div class="col-md-3">
            <RadzenLabel Text="Start" />
        </div>
        <div class="col">
            <RadzenDatePicker @bind-Value="@model.Start" Name="Start" ShowTime="true" />
            <RadzenRequiredValidator Text="Start is required" Component="Start" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Shift" />
        </div>
        <div class="col">

            <RadzenDropDown TItem="DailyScheduleDTO"
            @bind-Value=@shiftnr
                            Data=@shifts
                            TextProperty="Name"
                            ValueProperty="Nr"
                            Style="width: 100%; max-width: 400px;" />
           
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Save" />
        </div>
    </div>
</RadzenTemplateForm>
@code {


    [Parameter]
    public DateTime Start { get; set; }

    [Parameter]
    public DateTime End { get; set; }
    [Parameter]
    public IEnumerable<int> Domains { get; set; }

    public int shiftnr { get; set; }

    public IEnumerable<DailyScheduleDTO>? shifts;

    private AddEmployeeShiftDTO model = new AddEmployeeShiftDTO();

    protected override async Task OnInitializedAsync()
    {
        shifts = await ApiClient.GetDailySchedule();

    }


    protected async override void OnParametersSet()
    {
        model.Start = Start;
        model.Domains= Domains;

    }

    async void OnSubmit()
    {

        var body = new CreateMultipleEmpShift
            {
                AddedDomains = model.Domains,
                ShiftDate = model.Start,
                ShiftNr = shiftnr
            };



        var x = await ApiClient.ManageEmployeesShift(body);
        DialogService.Close(x);
    }
}