@inject DialogService DialogService
@using Agendo.Server.Models;
@using Agendo.Shared.Form.CreateEmployeeShift;
@using Radzen.Blazor;
@using Radzen;
@inject HttpClient _http;
<RadzenTemplateForm TItem="EmployeeShiftDTO" Data="@model" Submit=@OnSubmit>

    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Shift" />
        </div>
        <div class="col">

            <RadzenDropDown TItem="DailyScheduleDTO"
                            @bind-Value=@shiftnr
                            Data=@shifts
                            TextProperty="Name"
                            ValueProperty="Nr"
                            Style="width: 100%; max-width: 400px;" />

        </div>
    </div>

    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Start" />
        </div>
        <div class="col">
            <RadzenDatePicker @bind-Value="@model.Start" Name="Start" ShowTime="true" />
            <RadzenRequiredValidator Text="Start is required" Component="Start" />
        </div>
    </div>

    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Employees" />
           <div>@domainDTO?.Name</div>

        </div>
        <div class="col">
           
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Save" />
        </div>
    </div>
</RadzenTemplateForm>
@code {
    [Parameter]
    public EmployeeShiftDTO Shift { get; set; }
    [Parameter]
    public int EmpNR { get; set; }
    [Parameter]
    public int shiftnr { get; set; }
    [Parameter]
    public DomainDTO? domainDTO { get; set; }

    public IEnumerable<DailyScheduleDTO>? shifts;


    private EmployeeShiftDTO model = new EmployeeShiftDTO();

    protected override void OnParametersSet()
    {
        model = Shift;
        shiftnr = Shift.ShiftNR;
        domainDTO = Shift.DomainDTO;
    }

    protected override async Task OnInitializedAsync()
    {
        shifts = await _http.GetFromJsonAsync<IEnumerable<DailyScheduleDTO>>("api/dailySchedule");
    }

    async void OnSubmit()
    {

        var body = new CreateEmployeeShift
        {
            EmpNr = EmpNR,
            ShiftDate = model.Start,
            ShiftNr = shiftnr
        };



        var x = await _http.PutAsJsonAsync("api/EmployeeShift", body);
        Console.WriteLine(x);
        DialogService.Close(model);
    }
}