@page "/schedule"
@using Agendo.Client.Pages.Scheduler.Employee
@using Agendo.Client.Pages.Scheduler.Schedulemanagment
@using System.Security.Claims;

<AuthorizeView>


    <NotAuthorized>

        <span>u are not authorized</span>
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="719">


    <ManagmentSchedule />
</AuthorizeView>

<AuthorizeView Roles="1000">
    <EmployeeSchedule/>
</AuthorizeView>

@code {

}
