@inherits LayoutComponentBase
@inject NavigationManager NavManager

<RadzenComponents />

<div class="page">
    <AuthorizeView>
        <NotAuthorized>
            @if (NavManager.Uri.EndsWith("/register"))
            {
                @Body
            }
            else
            {
                <Agendo.Client.Pages.Login />
            }
        </NotAuthorized>

        <Authorized>
            <div class="sidebar gradient-bg">
                <NavMenu />
            </div>

            <main class="p-4 main-background">
                
                <div class="flex justify-end">
                    <LoginLogoutButton />
                </div>

                <article class="content px-4">

                    @if (!NavManager.Uri.EndsWith("/register") && !NavManager.Uri.EndsWith("/login"))
                    {
                        @Body
                    }else{
                        NavManager.NavigateTo("/");
                    }
                </article>
            </main>
        </Authorized>
    </AuthorizeView>
</div>
