@inherits LayoutComponentBase
@inject NavigationManager NavManager

<RadzenComponents />

<div class="page">
    <AuthorizeView>
        <NotAuthorized>
            @if (NavManager.Uri.EndsWith("/register"))
            {
                @Body
            }
            else
            {
                <Agendo.Client.Pages.Login />
            }
        </NotAuthorized>

        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <LoginLogoutButton />
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </Authorized>
    </AuthorizeView>
</div>
