<div class="p-3 navbar navbar-dark">
    <div class="container-fluid ">
        <a class="navbar-brand w-100" href="">
            <div class="flex flex-col justify-center items-center">
                <img src="/agendo-icon.png" class="w-14" alt="Agendo Logo" />
                <div class="opacity-50 w-40 bg-gray-200 h-px rounded-full mt-4"></div>

            </div>
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>

</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <RadzenIcon Icon="home" />
                <span class="ml-2" aria-hidden="true">Home</span> 
            </NavLink>
        </div>
       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employees">
                <RadzenIcon Icon="account_box" />
                <span class="ml-2" aria-hidden="true"></span> Employees
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shifts">
                <RadzenIcon Icon="extension" />
                <span class="ml-2" aria-hidden="true"></span> Shifts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="schedule">
                <RadzenIcon Icon="assignment" />
                <span class="ml-2" aria-hidden="true"></span> Schedule
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
