@using Agendo.Server.Models;
@using Agendo.Shared.Form.CreateShift;
@using Radzen.Blazor;
@using Radzen
@using System.Text.Json;
@using System.Text;
@inject HttpClient _http;
@inject DialogService DialogService


<RadzenTemplateForm TItem="DailyScheduleDTO" Data="@model" Submit=@OnSubmit>
    <div class="row" style="margin-bottom: 16px">
        <div class="">

            <RadzenLabel Text="Color:" />
            <RadzenColorPicker @bind-Value=@model.Color ShowHSV=@showHSV ShowRGBA=@showRGBA ShowColors=@showColors ShowButton=@showButton Change=@OnChange />
        </div>

        <div class="col-md-3">
            <RadzenLabel Text="Name" />

        </div>
        <div class="col">
            <RadzenTextBox @bind-Value="@model.Name" Name="Name" />
            <RadzenRequiredValidator Text="Enter shift name" Component="Name" />
        </div>
    </div>
        <div class="row" style="margin-bottom: 16px">
            <div class="col-md-3">
                <RadzenLabel Text="Hours" />
            </div>
            <div class="col">
                <RadzenNumeric Min="1" @bind-Value="@model.Hours" Name="Hours" />
                <RadzenRequiredValidator Text="shift hours" Component="Hours" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col">
                <RadzenButton ButtonType="ButtonType.Submit" Text="Save" />
            </div>
        </div>
</RadzenTemplateForm>



@code {



    public string Name { get; set; }


    public int Hours { get; set; } = 1;

    public string Color { get; set; } = "";


    private DailyScheduleDTO model = new DailyScheduleDTO();


    async void OnSubmit()
    {
        var body = new CreateShift
        {
            Name = model.Name,
            Hours = model.Hours,
            Color = model.Color
        };
        var x = await _http.PostAsJsonAsync("api/dailySchedule", body);
        Console.WriteLine(x);
        DialogService.Close(model);
    }

    EventConsole console;
    string color = "#e4c1f9";
    bool showHSV = true;
    bool showRGBA = true;
    bool showColors = true;
    bool showButton = false;

    void OnChange(string value)
    {
        model.Color = "#"+ Radzen.Blazor.Rendering.RGB.Parse(value).ToHex();
        console.Log($"Value changed to: {value}");
    }
}
