@page "/shifts"
@using Agendo.Shared;
@using Agendo.Shared.Form.CreateShift;
@using Radzen;
@using Radzen.Blazor;
@using Agendo.Server.Models;
@using System.Text.Json;
@using System.Text;
@inject HttpClient Http
@inject DialogService DialogService
<PageTitle>Shifts</PageTitle>


<RadzenButton Click="OpenAddShift">New Shift</RadzenButton>
@if (shifts == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="card-container grid grid-cols-3 gap-8 mt-8">
    @foreach (var shift in shifts)
    {
        <div class=" w-full h-100px bg-indigo-50 rounded-lg overflow-hidden shadow-xl">
            <!-- 'rounded-lg' adds a border-radius of 15 pixels -->
            <div class="card-wrapper p-4">
                <p class="text-2xl font-bold block">@shift.Name</p>
                <p class="block">Duration: @shift.Hours h</p>
            </div>
            <div class="card-color h-4 w-full" style="background-color: @shift.Color;"></div>

        </div>
    }
</div>



}

@code {

    private IEnumerable<DailyScheduleDTO>? shifts;

    protected override async Task OnInitializedAsync()
    {
        shifts = await Http.GetFromJsonAsync<IEnumerable<DailyScheduleDTO>>("api/dailySchedule");

    }
    async Task OpenAddShift()
    {
        Console.WriteLine("helo");
        DailyScheduleDTO data = await DialogService.OpenAsync<AddNewShiftPage>("Add Shift");
        if (data != null)
        {

        }
        await OnInitializedAsync();
    }

}
